{% extends "homepage.html" %}


{% block title %}
    Chat to collect your food items here! : 
{% endblock %}

{% block body %}
    <!-- Main container -->
    <div class="container">
      <!-- msg-header section starts -->
      <div class="msg-header">
        <div class="container1">
          <img2 src="static\default-profile-picture-male-icon.png" class="msgimg" />
          <div class="active">
            <p>NourishNeighbour</p>
          </div>
        </div>
      </div>
      <!-- msg-header section ends -->

      <!-- Chat inbox  -->
      <div class="chat-page">
        <div class="msg-inbox">
          <div class="chats">
            <!-- Message container -->
            <div class="msg-page">
              <!-- Incoming messages -->

              <div class="received-chats">
                <div class="received-chats-img">
                  <img2 src="static\default-profile-picture-female-icon.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p>
                        Hi im interested in this food, isit still available 
                    </p>
                    <span class="time">17:06 PM | October 14</span>
                  </div>
                </div>
              </div>
              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img2 src="user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                        Hi, yes it is!
                    </p>
                    <p class="multi-msg">
                        Where is a good place to meet?
                    </p>

                    <span class="time">18:40 PM | October 14</span>
                  </div>
                </div>
              </div>
              <div class="received-chats">
                <div class="received-chats-img">
                  <img2 src="user2.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p class="single-msg">
                      Hi, since you stay in Central, does Orchard MRT sound convenient to you?
                    </p>
                    <span class="time">19:47 PM | October 14</span>
                  </div>
                </div>
              </div>
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img2 src="user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p>
                      Yes it is, let's meet tomorrow at 7pm?
                    </p>

                    <span class="time">19:50M | October 14</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- msg-bottom section -->

          <div class="msg-bottom">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Write message..."
              />

              <span class="input-group-text send-icon">
                <i class="bi bi-send"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}