<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/static/script.js"></script>
    <title>NourishNeighbour: {% block title %}Homepage{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col mr-auto">
                    <a href="{{url_for('homepage')}}" class="header-logo">NourishNeighbour</a>
                </div>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
                {% endwith %}

                <nav class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('nourisher')}}"> Become a
                                nourisher!</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('nourished')}}"> Time to be
                                nourished!</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us </a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('myListing')}}">My Listings</a></li>
                        <li class="nav-item">
                            <a id="profile-image-link" href="{{ url_for('profile') }}">
                                <img class="profile-image"
                                    src="{% if profile_picture_url %}{{ profile_picture_url }}{% else %}/static/default-profile-image.png{% endif %}"
                                    alt="Profile photo">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="chatrooms-icon-link" href="{{ url_for('chatrooms') }}">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2">
                        {% if session["user_id"] %}
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        {% else %}
                        <div id="login-container">
                            <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('register')}}">Register</a></li>
                        </div>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search for a specific item here...">
                <button type="submit">Search</button>
            </form>            
        </div>
    </header>
    <main>
        {% block body %}
        <p>"Share more, waste less"</p>
        <img src="https://th.bing.com/th/id/OIP.FffazxYd-REhRzwJR_CHEQHaGX?w=225&h=192&c=7&r=0&o=5&pid=1.7"
            alt="Share food">
        <p>In the act of nourishing our neighbors, we are nourishing our communities by reducing food waste, and at the
            same time nourishing our hearts from the joy of giving</p>
        <img src="https://th.bing.com/th/id/OIP.Mm8quuNoHgV1lQV4m0anbQHaE5?w=251&h=180&c=7&r=0&o=5&pid=1.7"
            alt="Neighbours sharing food">
        {% endblock %}
    </main>
    <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
    </div>
    <footer>
        <div class="container">
            <div class="col-3 mr-auto">
                <div class="social-networks">
                    <p>Email: NourishNeighbour@gmail.com</p>
                </div>
                <p>&copy; NourishNeighbour 2023</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var createChatroomUrl = "/create_chatroom";

            function searchItem() {
                var itemId = $(this).data('item-id');
                var uploadedById = $(this).data('uploaded-by-user-id');

                $.post('/create_chatroom', { item_id: itemId, uploaded_by_id: uploadedById })
                    .done(function (data) {
                        // Redirect to the newly created chatroom
                        if (data.success) {
                            window.location.href = '/chats/' + data.chatroom_id;
                        } else {
                            console.error('Failed to create chatroom:', data.error);
                        }
                    })
                    .fail(function (xhr, status, error) {
                        console.error('Failed to create chatroom:', error);
                    });
            }

            $(document).on('click', '.want-it-btn', searchItem);

            // Bind the searchItem function to the Enter key press event
            $(document).on('keypress', function (e) {
                if (e.which === 13) { // Check if the pressed key is Enter
                    // Trigger the searchItem function
                    $('.want-it-btn').trigger('click');
                }
            });
        });
    </script>
</body>

</html>
