{% extends "homepage.html" %}

{% block title %}
Item Details
{% endblock %}

{% block body %}
<h1>Item Details</h1>

{% if search_results %}
    <h2>Search Results</h2>
    <ul>
    {% for result in search_results %}
        <li>
            <a href="/items.html?id={{ result.id }}">{{ result.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if item %}
    <div>
    <button class="want-it-btn" data-item-id="{{ item.id }}" data-uploaded-by-user-id="{{ item.uploadedByUserId }}">I Want
        It</button>
        <h2>{{ item.title }}</h2>
        <p>Description: {{ item.description }}</p>
        <p>Category: {{ item.category }}</p>
        <p>Other: {{ item.other }}</p>
        <p>Ingredients: {{ item.ingredients }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Expiry Date: {{ item.expiry_date }}</p>
        <p>Location: {{ item.location }}</p>
        <p>Uploaded By: {{ item.uploadedBy }}</p>
        <img src="{{ item.image_url }}" alt="{{ item.title }}">
    </div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var createChatroomUrl = "/create_chatroom";

        $(document).on('click', '.want-it-btn', function () {
            var itemId = $(this).data('item-id');
            var uploadedById = $(this).data('uploaded-by-user-id'); 

            $.post('/create_chatroom', { item_id: itemId, uploaded_by_id: uploadedById })
                .done(function (data) {
                    // Redirect to the newly created chatroom
                    if (data.success) {
                        window.location.href = '/chats/' + data.chatroom_id;
                    } else {
                        console.error('Failed to create chatroom:', data.error);
                    }
                })
                .fail(function (xhr, status, error) {
                    console.error('Failed to create chatroom:', error);
                });
        });
    });
</script>

{% endblock %}
