{% extends "homepage.html" %}

{% block title %}
    Their Listings
{% endblock %}

{% block body %}

{% if their_listings %}
    <h1>{{ their_listings[0].uploadedBy }}</h1> 

    <ul>
        {% for listing in their_listings %}
            <li>
                <h2>{{ listing.title }}</h2>
                <p>Description: {{ listing.description }}</p>
                <p>Category: {{ listing.category }}</p>
                <p>Other: {{ listing.other }}</p>
                <p>Ingredients: {{ listing.ingredients }}</p>
                <p>Quantity: {{ listing.quantity }}</p>
                <p>Expiry Date: {{ listing.expiry_date }}</p>
                <p>Location: {{ listing.location }}</p>
                <p>Uploaded By: {{ listing.uploadedBy }}</p>
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>This user has no listings.</p>
{% endif %}
{% endblock %}